---
import { getCollection, getEntry, render } from "astro:content";
import DocsLayout from "../layouts/docs.astro";

// [...slug].astro
export async function getStaticPaths() {
  const docs = await getCollection("wiki");
  const publishedDocs = docs.filter((doc) => !doc.data.draft).filter((doc) => !doc.slug.includes('__'));
  return publishedDocs.map((doc) => ({
    params: { slug: doc.slug, title: doc.data.title },
    props: { doc },
  }));
}

const { doc } = Astro.props;
if (!doc) {
  throw new Error('Could not find blog post 1');
}
const { Content, headings } = await render(doc);
---

<DocsLayout post={doc} headings={headings}>
  <h1>{doc.data.title}</h1>
  <Content />
</DocsLayout>