---
import Layout from "../layouts/default.astro"

import Navbar from "../components/Navbar.astro"
import Navigation from "../components/Navigation.astro"

import { Icon } from "astro-icon/components";
---

<Layout>
	<Navbar />
	<Navigation>
		<div data-pagefind-body class="mx-2 md:mx-6 flex flex-col items-center justify-center pt-20">
			<img src="/images/lobby/0.png" alt="Lobby DEMOCRAFT" class="rounded-lg shadow-lg w-auto h-64 object-cover mb-4" />
			<h1 class="text-3xl font-bold font-[Minecraft_Five]">✨ Bienvenue sur DEMOCRAFT !</h1> 

			<p>Merci beaucoup d'avoir rejoint notre serveur ! Depuis deux ans, nous avons beaucoup construit, reconstruit, codé et modifié - pour vous offrir un serveur propre et complet !</p>
			<p>Mais qui dit modification dit question : qu'avez-vous modifié, et surtout, **comment ça marche ?**</p>
			<p>A travers ce wiki, vous allez pouvoir en apprendre plus sur DEMOCRAFT, ses modes de jeux, ses mondes, blocs et objets inédits !</p>
			<span class="badge badge-warning my-4 font-[Minecraft_Five]">
				<Icon name="lucide:file-warning" />
				WORK IN PROGRESS
			</span>
			
		       <div class="flex flex-col md:flex-row gap-4 mt-4 bg-base-100">
				<a class="btn btn-soft btn-primary rounded-full" href="/welcome/connexion/version">Se Connecter</a>
				<a class="btn btn-soft btn-secondary rounded-full" href="/welcome/lobby">Visiter le Lobby</a>
				<a class="btn btn-soft btn-success rounded-full" href="/ressources/grades">Comparatif des grades</a>
			</div>
		</div>
	</Navigation>
</Layout>
