---
import Layout from "../../layouts/default.astro"

import Navbar from "../../components/Navbar.astro"
import Navigation from "../../components/Navigation.astro"

import { Icon } from "astro-icon/components";
import "../../assets/app.css";
---

<Layout>
	<Navbar />
	<Navigation>
    <div class="flex mx-auto items-center justify-center pt-20 mt-20">
        <div class="overflow-x-scroll rounded-box">
            <table class="table place-content-center">
                <!-- head -->
                <thead class="">
                <tr>
                    <th></th>
                    <th class="bg-base-300 rounded-tl-xl">
                        <img class="hidden md:block h-10 w-auto" src="/images/grades/joueur.png" />
                        <img class="md:hidden h-6 w-auto" src="/images/mini/joueur.png" />
                    </th>
                    <th class="bg-base-300 justify-center">
                        <img class="hidden md:block h-10 w-auto" src="/images/grades/mini.png" />
                        <img class="md:hidden h-6 w-auto" src="/images/mini/mini.png" />
                    </th>
                    <th class="bg-base-300">
                        <img class="hidden md:block h-10 w-auto" src="/images/grades/demo.png" />
                        <img class="md:hidden h-6 w-auto" src="/images/mini/demo.png" />
                    </th>
                    <th class="bg-base-300">
                        <img class="hidden md:block h-10 w-auto" src="/images/grades/plus.png" />
                        <img class="md:hidden h-6 w-auto" src="/images/mini/plus.png" />
                    </th>
                    <th class="bg-base-300 rounded-tr-xl">
                        <img class="hidden md:block h-10 w-auto" src="/images/grades/max.png" />
                        <img class="md:hidden h-6 w-auto" src="/images/mini/max.png" />
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Peut rejoindre DEMOCRAFT</th>
                    <td>
                       <div class="flex justify-center"><Icon name="lucide:circle-check" class="w-6 h-6 text-success" /></div> 
                    </td>
                    <td>
                       <div class="flex justify-center"><Icon name="lucide:circle-check" class="w-6 h-6" /></div> 
                    </td>
                    <td>
                       <div class="flex justify-center"><Icon name="lucide:circle-check" class="w-6 h-6" /></div> 
                    </td>
                    <td>
                       <div class="flex justify-center"><Icon name="lucide:circle-check" class="w-6 h-6" /></div> 
                    </td>
                    <td>
                       <div class="flex justify-center"><Icon name="lucide:circle-check" class="w-6 h-6" /></div> 
                    </td>
                </tr>
                <tr>
                    <th>Groupes</th>
                </tr>
                <tr>
                    <th>Changement de Skin</th>
                </tr>
                <tr>
                    <th>Commande /fly</th>
                </tr>
                <tr>
                    <th>Kit Hebdomadaire¹</th>
                </tr>
                <tr>
                    <th>Rôle discord</th>
                </tr>
                <tr>
                    <th>Homes</th>
                </tr>
                <tr>
                    <th>Cooldown Téléportation</th>
                </tr>
                <tr>
                    <th>Booster de coins²</th>
                </tr>
                <tr>
                    <th>Avatar Personnalisé³</th>
                </tr>
                </tbody>
            </table>
            </div>
    </div>
    </Navigation>
</Layout>
