---
import { Icon } from "astro-icon/components";
---
<div class="fixed z-100 navbar bg-base-100 border-b-2 border-base-300">
  <div class="navbar-start">
    <label for="nav-drawer" class="md:hidden btn btn-soft btn-error px-1 drawer-button">
       <Icon name="lucide:menu" class="h-10 w-10 px-2 fill-current" />
    </label>
    <img src="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/logo.png" alt="Logo DEMOCRAFT" class="h-7 w-7 ml-3 rounded" />
    <a class="text-xl ml-3">
      DEMOCRAFT
      <span class="badge badge-error">WIKI</span>
    </a>
  </div>
  <div class="navbar-end">

    <label class="hidden sm:input">
      <Icon name="lucide:search" class="h-[1em] opacity-50"/>
      <input type="search" class="grow" placeholder="Search" />
    </label>

    <label class="swap swap-rotate">
      <input type="checkbox" class="theme-controller" value="light" />
      <Icon name="lucide:sun" class="swap-off input input-bordered h-10 w-10 px-2 mx-2 fill-current" />
      <Icon name="lucide:moon" class="swap-on input input-bordered h-10 w-10 px-2 mx-2 fill-current" />
    </label>
  </div>
</div>