---
import { Icon } from "astro-icon/components";
---
<div class="fixed z-100 navbar bg-base-100 border-b-2 border-base-300">
  <div class="navbar-start">
    <label for="nav-drawer" class="md:hidden btn btn-soft btn-error px-1 drawer-button">
       <Icon name="lucide:menu" class="h-10 w-10 px-2 fill-current" />
    </label>
    <img src="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/logo.png" alt="Logo DEMOCRAFT" class="h-7 w-7 ml-3 rounded" />
    <a class="hidden md:flex text-lg md:text-2xl ml-3 font-bold flex-inline items-center gap-2">
      DEMOCRAFT
      <span class="badge badge-error">WIKI<Icon name="lucide:pencil-ruler" /></span>
    </a>
  </div>

  <a class="navbar-center flex md:hidden text-lg md:text-2xl ml-3 font-bold flex-inline items-center gap-2">
    DEMOCRAFT
    <span class="badge badge-error">
      WIKI
      <Icon name="lucide:pencil-ruler" />
    </span>
  </a>

  <div class="navbar-end">

    <label class="hidden sm:input">
      <Icon name="lucide:search" class="h-[1em] opacity-50"/>
      <input type="search" class="grow" placeholder="Search" />
    </label>

    <button>
      <Icon name="lucide:search" class="input input-bordered h-8 md:h-10 w-8 md:w-10 px-2 mx-2 fill-current" />
    </button>

    <button data-toggle-theme="dark,light" data-act-class="light">
      <Icon name="lucide:sun" class="hidden dark:block input input-bordered h-8 md:h-10 w-8 md:w-10 px-2 mx-2 fill-current" />
      <Icon name="lucide:moon" class="block dark:hidden input input-bordered h-8 md:h-10 w-8 md:w-10 px-2 mx-2 fill-current" />
    </button>
  </div>
</div>
