---
import { Icon } from "astro-icon/components";
import Search from "astro-pagefind/components/Search";
---

<div class="fixed z-100 navbar bg-base-100 border-b-2 border-base-300">
  <div class="navbar-start">
    <label
      for="nav-drawer"
      class="md:hidden btn btn-soft btn-error px-1 drawer-button"
    >
      <Icon name="lucide:menu" class="h-10 w-10 px-2 fill-current" />
    </label>
    <img
      src="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/logo.png"
      alt="Logo DEMOCRAFT"
      class="h-7 w-7 ml-3 rounded"
    />
    <a
      href="/"
      class="hidden md:flex text-lg md:text-2xl ml-3 font-bold flex-inline items-center gap-2"
    >
      DEMOCRAFT
      <span class="badge badge-error"
        >WIKI<Icon name="lucide:pencil-ruler" /></span
      >
    </a>
  </div>

  <a
    href="/"
    class="navbar-center flex md:hidden text-lg md:text-2xl ml-3 font-bold flex-inline items-center gap-2"
  >
    DEMOCRAFT
    <span class="badge badge-error">
      WIKI
      <Icon name="lucide:pencil-ruler" />
    </span>
  </a>

  <div class="navbar-end">
    <button onclick="search_modal.showModal()">
      <Icon
        name="lucide:search"
        class="input input-bordered h-8 md:h-10 w-8 md:w-10 px-2 fill-current"
      />
    </button>

    <label class="swap swap-rotate">
      <input type="checkbox" id="theme_switcher"/>
      <Icon
        name="lucide:sun"
        class="swap-on input input-bordered h-8 md:h-10 w-8 md:w-10 px-2 mx-2 fill-current"
      />
      <Icon
        name="lucide:moon"
        class="swap-off input input-bordered h-8 md:h-10 w-8 md:w-10 px-2 mx-2 fill-current"
      />
    </label>
  </div>
</div>

<dialog id="search_modal" class="modal">
  <div class="modal-box max-h-[45rem]">
    <Search id="search_input" className="pagefind-ui" uiOptions={{ showImages: false }} />

    <div class="modal-action">
      <form method="dialog">
        <button
          class="btn btn-soft btn-error py-6 px-3 rounded-lg border-2 border-error"
        >
          <Icon name="lucide:circle-x" class="h-6 w-6 fill-current" />
        </button>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<script type="module" is:inline data-astro-rerun>
  
  if (localStorage.getItem("theme") === "dark") {
    document.getElementById("theme_switcher").checked = true;
  }

  window.addEventListener(
    "keydown",
    (e) =>
      e.ctrlKey &&
      e.key.toLowerCase() === "k" &&
      (e.preventDefault(),
      document.getElementById("search_modal")?.showModal()),
  );
  document
    .getElementById("theme_switcher")
    ?.addEventListener("change", (e) => {
      const theme = e.target.checked ? "dark" : "light";
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("theme", theme);
    });
</script>
