---
import { generateTOC } from "../utils/generateTOC";
import { getCollection } from "astro:content";

const docs = await getCollection("wiki");
docs.sort((a, b) => a.data.weight - b.data.weight);
const publishedDocs = docs
  .filter((doc) => !doc.data.draft)
  .filter((doc) => !doc.slug.includes('__'))
  .map((doc) => ({
    params: { 
      title: doc.data.title,
      slug: doc.slug 
    },
  }));

const content = generateTOC(publishedDocs)
---
<div class="drawer lg:drawer-open">
  <input id="navbar-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <slot />
  </div>
  <div class="drawer-side">
    <label for="navbar-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu lg:menu-sm bg-base-100 border-r-2 border-base-300 text-base-content min-h-full w-64 p-4 pb-20" set:html={content} />
  </div>
</div>