---
import "../assets/app.css";
import Head from './head.astro';
const { title, description } = Astro.props;
---

<html
  lang="fr"
  class="selection:bg-sky-200 selection:text-sky-700 transition-all duration-500 ease-in-out"
>
  <Head title={title} description={description} />
    <body class="bg-base-100">
      <slot />
  </body>
</html>
