---
import { getEntry } from 'astro:content';
import "../assets/app.css";
import Head from './head.astro';


// Extract current category from URL path
const currentPath = Astro.url.pathname;
const sanitizedPath = currentPath.substring(1).replace(/\/$/, ""); // Remove trailing slash
const post = await getEntry('wiki', sanitizedPath);
const layout = post.data.template;
const currentCategory = currentPath.split("/")[1] || "";
const headings = post.rendered.metadata.headings || [];
---

<html
  lang="fr"
  data-theme="superlight"
  class="selection:bg-sky-200 selection:text-sky-700 transition-all duration-500 ease-in-out"
>
  <Head title={post.data.title} description={post.data.description} />
  <body class="bg-base-100">
    <main class="flex-grow px-4 md:px-64 py-32 pr-2 min-h-[38.5rem]">
    <article class="prose max-w-full w-full">
        <slot />
    </article>
    </main>
  </body>
</html>