---
import { getEntry } from 'astro:content';
import "../assets/app.css";
import Head from './head.astro';
import Navbar from '../components/Navbar.astro';
import Navigation from '../components/Navigation.astro'

// Extract current category from URL path
const currentPath = Astro.url.pathname;
const sanitizedPath = currentPath.substring(1).replace(/\/$/, ""); // Remove trailing slash
const { post } = Astro.props;
---

<html lang="fr">
  <Head title={ (post?.data?.title ?? "Page introuvable") + " - WIKI DEMOCRAFT"} description={post?.data?.description ?? "DEMOCRAFT est le premier serveur mini jeux java & bedrock !"} />
  <body class="bg-base-100 max-h-screen h-screen">
    <Navbar />
    <main class="flex-grow">
      <Navigation>
        <div class="flex pt-18">
          <article class="prose max-w-full w-full mx-2 lg:mx-10 my-4 lg:my-8">
            <slot />
          </article>
          <div class="hidden md:block w-64 min-h-full w-72 p-4">
          </div>
        </div>
      </Navigation>
    </main>
  </body>
</html>
