---
import { ClientRouter } from "astro:transitions";
const { title, description, image } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/png" href="/logo.png" />
  <script defer src="https://umami.vaatigames.ovh/script.js" data-website-id="d63994bf-eece-4223-8a93-9b747c6b9995"></script>
  <link rel="sitemap" href="/sitemap-index.xml" />
  <title>{title}</title>
  <meta content={title} property="og:title" />
  <meta content={description} property="og:description" />
  <meta content="https://wiki.democraft.fr" property="og:url" />
  <meta content={image}property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <ClientRouter />
  <script is:inline data-astro-rerun>
    // ☝️ This script prevent the FART effect.
    if (localStorage.getItem("theme") === null) {
      document.documentElement.setAttribute("data-theme", "light");
    } else
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("theme")
      );
  </script>
  <script data-astro-rerun>
    import { themeChange } from "theme-change";
    themeChange();
  </script>
</head>